@import "./../../../../Styles/bootstrap-custom.scss";

/*cases-list-cintainer */
.cases-list-container {
    padding: 0px 5px;
}
.card {
    box-shadow: 1px 2px 5px 2px #888888;
}
.card-dark, .card-header-dark, .card-body-dark {
    box-shadow: none;
    border-color: $covid-secondary-lighter;
}
.card-header {
    padding: 12px;
}
.card-header>h3, p {
    margin-bottom: 0;
}
.card-header-dark {
    background-color: $covid-secondary-darker;
    color: white;
}
.card-body {
    padding: 5px;
    height: 10rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.card-body-dark {
    background-color: $covid-secondary;
    color: white;
    }
.card-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.card-body::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 10px;
}
.card-body::-webkit-scrollbar-track
{
	border-radius: 10px;
}
.card-body-dark::-webkit-scrollbar-track
{
    background-color: #02012e;
	border-radius: 0px;
}
.list-group-item {
    border: none;
    padding: 5px 0px;
}

/*End of cases-list-cintainer */

// #canvas {
//     pointer-events: none;
// }

/* graph tabs */
.graph-tabs {
    box-shadow: 1px 2px 5px 2px #888888;
    border-radius: 4%;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: 0;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.tab {
    background-color: white;
    color: black;
}
.tab-dark {
    background-color: $covid-secondary;
    color: white;
}
.active-tab {
    background-color: rgb(230, 230, 230); 
    color: $covid-primary;
}
.active-tab-dark {
    background-color: $covid-primary; 
    color: rgb(230, 230, 230);
}

.dropdown-container {
    max-height: 8rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.dropdown-container::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.dropdown-container::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 10px;
}
.dropdown-container-body::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

/* End of graph tabs */